.main__main__div {
    /* background: rgb(255, 183, 183); */
    height: auto;
    width: 100%;

}

.main__main__container {
    display: flex;
    flex-direction: row;
}

.sidebar__main__div {
    height: 100%;
    width: 330px;
    background: rgb(255, 255, 255);
    /* overflow-y: scroll; */
}

.sidebar__main__container {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__main__container__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__brand__logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* position: relative; */
    margin-top: 2rem;

}

.sidebar__brand__logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sidebar__dashboard__list__container {
    /* border: 2px solid rgb(94, 255, 0); */
    width: 100%;

}

.sidebar__dashboard__text {
    width: 217px;
    height: 47px;
    border: 1px solid #0099FB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #0099FB;
    gap: 1rem;
    margin-top: 2rem;
}



.sidebar__dashboard__user__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(94, 255, 0); */
    margin-top: 2rem;
    /* position: fixed; */
}

.sidebar__dashboard__user__dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    color: #878787;
    font-size: 18px;
    /* background: rgb(255, 101, 101); */
    gap: 1.5rem;
    padding-left: 1rem;
}

.sidebar__dashboard__user__dropdown__list {
    /* height: 0; */
    /* width: 15rem; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding-left: 3.2rem;
    box-sizing: border-box;
    margin-top: 1rem;
}

.sidebar__dashboard__user__dropdown__list span {
    margin: 0.4rem 0;
    color: #878787;
    font-weight: 400;
}

.sidebar__dashboard__user__dropdown__main {
    /* position: relative; */
}